:root {
  --app_theme: #ef4247;
  --nav-color: #646161;
  --bg-background: #f9f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}

a {
  text-decoration: none;
  list-style: none;
  color: var(--nav-color);
}
/* Navigation CSS Start */

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

nav {
  padding-top: 25px;
  height: 75px;
  width: auto;
}

nav .logo {
  width: 40px;
  float: left;
}

nav .logo img {
  width: 150%;
  height: 150%;
  object-fit: contain;
}

ul.menu {
  width: auto;
  float: right;
  margin-top: 25px;
}

ul.menu li {
  float: left;
}

ul.menu li a {
  text-decoration: none;
  /* color: rgba(0, 0, 0, 0.474); */
  color: #646161;
  font-size: 12pt;
  font-weight: bold;
  padding: 15px;
}

ul.menu li .logout {
  /* background-color: var(--app_theme); */
  /* color: #fff; */
  /* border-radius: 10px; */
  padding: 15px, 35px;
}

ul.menu li:nth-child(6) {
  margin-left: 100px;
}

.active,
ul.menu li a:hover {
  width: 100%;
  color: var(--app_theme);
  border-bottom: var(--app_theme) solid 4px;
}

.sub-menu {
  display: none;
}

ul.menu li:hover .sub-menu {
  display: block;
  position: absolute;
  background-color: var(--app_theme);
  margin-top: 15px;
  /* margin-left: -10px; */
}

ul.menu li:hover .sub-menu ul {
  display: flex;
  flex-direction: column;
  /* margin: 15px; */
}

ul.menu li:hover .sub-menu ul li {
  width: 100%;
  padding: 18px;
  /* background-color: none; */
  color: #fff;
  border-bottom: 1px solid #fff;
}

ul.menu li:hover .sub-menu ul li:last-child {
  border: none;
}

ul.menu li .sub-menu ul li a,
.logout:hover {
  color: #fff;
  font-weight: 900;
  border: none;
}
/* Navigation CSS End */

/* Dashbord CSS Start */
section.dashboard {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  /* background-color: #ef4247; */
}
section.dashboard .blood-group-container {
  width: 100%;
  height: auto;
}

section.dashboard .blood-group-container .bg-first-row,
.bg-second-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
section.dashboard .blood-group-container .bg-first-row .blood-group,
.bg-second-row .blood-group {
  width: 300px;
  height: 200px;
  justify-content: center;
  margin: 0 auto;
  border: 2px solid var(--app_theme);
}

.blood-group {
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  padding-top: 25px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  color: var(--nav-color);
  background-color: var(--bg-background);
  display: flex;
  flex-direction: column;
}

.bg-second-row {
  margin-top: 30px;
}

/* .blood-group span {
  display: flex;
  flex-direction: column;
} */

span.blood-qty {
  font-size: 36px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
/* Dashbord CSS End */

/* Record CSS Start */
section.record {
  /* width: 100%; */
  /* height: auto; */
  margin-top: 40px;
  /* background-color: #ef4247; */
}

section.record .record-table {
  /* width: 100%; */
  height: auto;
  /* background-color: #ef4247; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: "Roboto";
  color: var(--nav-color);
}
.record-donor,
.record-receiver,
.record-active-donor,
.record-new-request {
  padding-right: 100px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  background-color: #fff;
}
span {
  float: right;
}
span.qty {
  /* justify-items: end; */
  text-align: right;
  align-items: flex-end;
}

/* Record CSS End */
